spring:
  application:
    name: TelegramHabit
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/telegramHabit}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:Kent12052@}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080

app:
  security:
    jwt-secret: ${JWT_SECRET:change-me-very-long-secret-change-me-very-long}
    jwt-expiration-minutes: ${JWT_EXP_MINUTES:10080}
    dev-auth-enabled: ${DEV_AUTH_ENABLED:true}
  telegram:
    bot-token: ${TELEGRAM_BOT_TOKEN:change-me}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173,http://127.0.0.1:5173,http://localhost:5175,http://127.0.0.1:5175}
  storage:
    upload-dir: ${UPLOAD_DIR:uploads}
    avatar-base-url: ${AVATAR_BASE_URL:/uploads}
